In [2]:
## Random forest
import pandas as pd
pd.set_option('display.max_columns',21)
dados = pd.read_excel('C:/Users/Didrich/Documents/Python Scripts/Classe_Social/Banco de dados/Pnad21.xlsx')

In [3]:
dados.head()

   Idade  Cor  Sexo  Regiao  Ocupacao  Renda  Escolaridade  Classe_Social
0     37    4     2       4       9.0    3.0           1.0              4
1     31    4     1       4       9.0    3.0           2.0              4
2     45    1     2       4       9.0    3.0           5.0              4
3     20    1     1       4       9.0    3.0           2.0              4
4      8    1     1       4       9.0    3.0           2.0              4

In [4]:
# Function Limpar Na
import pandas as pd
import numpy as np

def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(axis=1)
    return df[indices_to_keep].astype(np.int64)

In [5]:
#Padroniza com int
clean_dataset(dados)
dados.astype('int64').dtypes

Idade            int64
Cor              int64
Sexo             int64
Regiao           int64
Ocupacao         int64
Renda            int64
Escolaridade     int64
Classe_Social    int64
dtype: object

In [6]:
#Definindo váriaveis preditoras e variavel target
y = dados['Classe_Social'] # Target
x = dados.drop('Classe_Social', axis =1) # Preditoras

In [11]:
#Função Classifier 
def BaggingClassifier(x, y, n_kfold):
    from sklearn.model_selection import cross_val_score
    from sklearn.model_selection import KFold
    from sklearn.ensemble import BaggingClassifier
    
    
    #Modelo
    bagging = BaggingClassifier() # Trocar parametros

    #kfold  
    kfold = KFold(n_splits = n_kfold)

 
    #Treino Resultados
    resul_bagging = cross_val_score(bagging,x,y, cv = kfold)

    
    #Printa Resultado
    print(f'Decision Tree:{resul_bagging.mean()}')

In [12]:
BaggingClassifier(x,y,5)

Decision Tree:0.9792842990177656