In [1]:
import pandas as pd
pd.set_option('display.max_columns',21)
dados = pd.read_excel('C:/Users/carlo/Documents\Projetos/Machine Learning Funções/Banco de dados/Pnad21.xlsx')
dados.head()

   Idade  Cor  Sexo  Regiao  Ocupacao  Renda  Escolaridade  Classe_Social
0     37    4     2       4       9.0    3.0           1.0              4
1     31    4     1       4       9.0    3.0           2.0              4
2     45    1     2       4       9.0    3.0           5.0              4
3     20    1     1       4       9.0    3.0           2.0              4
4      8    1     1       4       9.0    3.0           2.0              4

In [2]:
import pandas as pd
import numpy as np

def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(axis=1)
    return df[indices_to_keep].astype(np.int64)

In [3]:
#Padroniza com int
clean_dataset(dados)
dados.astype('int64').dtypes

Idade            int64
Cor              int64
Sexo             int64
Regiao           int64
Ocupacao         int64
Renda            int64
Escolaridade     int64
Classe_Social    int64
dtype: object

In [38]:
#Definindo váriaveis preditoras e variavel target
y = dados['Classe_Social'] # Target
x = dados.drop('Classe_Social', axis =1) # Preditoras

In [9]:
# Função com 
def Kmens(x,y,c):
    from sklearn.cluster import KMeans
        
    # Aplicando modelo
    kmeans = KMeans(n_clusters = c)# K= Qunatidade de melhores preditoras
    kmeans.fit
    #Treinos
    kmeans.fit(x)

    #Resultados
    print(f'Scores:\n{kmeans.cluster_centers_}')

In [12]:
Kmens(x,y,2)

Scores:
[[58.24456767  2.51900186  1.54462257  2.47227029  6.6677368   3.81282356
   3.37191381]
 [22.59611819  2.75174717  1.50245436  2.64432585  6.72574166  3.47889132
   3.71319055]]