In [5]:
# Busca dados
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()

In [6]:
#Definindo váriaveis preditoras e variavel target
x = pd.DataFrame(iris.data,columns=[iris.feature_names])# Preditoras
y = pd.Series(iris.target) # Target

In [7]:
x.head()

  sepal length (cm) sepal width (cm) petal length (cm) petal width (cm)
0               5.1              3.5               1.4              0.2
1               4.9              3.0               1.4              0.2
2               4.7              3.2               1.3              0.2
3               4.6              3.1               1.5              0.2
4               5.0              3.6               1.4              0.2

In [5]:
from sklearn.model_selection import train_test_split
 
# Separando os dados em treino e teste
x_treino, x_teste, y_treino, y_teste = train_test_split(x,y, test_size = 0.3)

In [ ]:
from sklearn.naive_bayes import GaussianNB

#Treina modelo
modelo = GaussianNB()
modelo.fit(x_treino, y_treino)

#Score
resultado = modelo.score(x_teste, y_teste)
print("Acurácia:",resultado

Acurácia: 0.9111111111111111

C:\Users\carlo\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\carlo\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

In [9]:
## Modelo 2 
import pandas as pd

dados = pd.read_csv('C:/Users/carlo/Documents\Projetos/Machine Learning Funções/Banco de dados/wine_dataset.csv')

In [9]:
dados.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [10]:
#Definindo váriaveis preditoras e variavel target
x = dados.drop('style', axis = 1)# Preditoras
y = dados['style'] # Target

In [11]:
def  NaiveBayes(x, y, n_splits):
    from sklearn.naive_bayes import GaussianNB
    from sklearn.model_selection import cross_val_score
    from sklearn.model_selection import StratifiedKFold

    #Treina modelo
    modelo = GaussianNB()
    skfold = StratifiedKFold(n_splits)

    result = cross_val_score(modelo,x,y, cv = skfold)

    #Score
    print("Acurácia:",result.mean())

In [12]:
NaiveBayes(x,y,5)

Acurácia: 0.9690644874755729